<footer class="foi-footer text-white">
    <div class="container">
      <div class="row footer-content">
        <div class="col-xl-6 col-lg-7 col-md-8">
          <h2 class="mb-0">
            Do you want to know more or just have a question? write to us.
          </h2>
        </div>
        <div
          class="col-md-4 col-lg-5 col-xl-6 py-3 py-md-0 d-md-flex align-items-center justify-content-end"
        >
          <a href="" class="btn btn-danger btn-lg"
            >Contact form</a
          >
        </div>
      </div>
      <div class="row footer-widget-area">
        <div class="col-md-3">
          <div class="py-3">
            
          </div>
          
          <div>
            
          </div>
        </div>
        <div class="col-md-3 mt-3 mt-md-0">
          <nav>
            
          </nav>
        </div>
        <div class="col-md-3 mt-3 mt-md-0">
          <nav>
            
          </nav>
        </div>
        <div class="col-md-3 mt-3 mt-md-0">
          <p>
            &copy; TreatMeals. 2022
            
          </p>
          <p>All rights reserved.</p>
          <nav class="social-menu">
            <a href="#!"><img src="/images/facebook.svg" alt="facebook" /></a>
            <a href="#!"
              ><img src="/images/instagram.svg" alt="instagram"
            /></a>
            <a href="#!"><img src="/images/twitter.svg" alt="twitter" /></a>
            <a href="#!"><img src="/images/youtube.svg" alt="youtube" /></a>
          </nav>
        </div>
      </div>
    </div>
  </footer>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>   
<script src="/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
<script src="/vendors/jquery/jquery.min.js"></script>
<script src="/vendors/popper.js/popper.min.js"></script>
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>