<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TreatMeals</title>
    <link rel="stylesheet" href="/vendors/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header class="foi-header d-flex h-100">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">


        <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgba(255, 255, 255, 1)">
          <div class="container">
            <a class="navbar-brand" href="/">
              <img src="/images/TreatMeals-Logo.png" alt="" width="150 rem">
            </a>
            
  
                
            </div>
          </div>
        </nav>


      </div>
    </header>
  </body>
</html>
