<%- include('partials/logged-in-header') -%>

<div class="container card-container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="mt-5">
        <h2>Add a Restaurant</h2>
        <form
          action="/post/createRestaurant"
          enctype="multipart/form-data"
          method="POST"
        >
          <div class="mb-3">
            <label for="title" class="form-label">Restaurant Name</label>
            <input type="text" class="form-control" id="title" name="title" />
          </div>

          <div class="mb-3">
            <label for="cuisine" class="form-label">Cuisine Type</label>
            <select
              class="form-select"
              aria-label="Default select example"
              id="cuisine"
              name="cuisine"
            >
              <option selected>Select Cuisine</option>
              <option value="Asian">Asian</option>
              <option value="Mexican">Mexican</option>
              <option value="American">American</option>
              <option value="Italian">Italian</option>
              <option value="Tex-Mex">Tex-Mex</option>
              <option value="Indian">Indian</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input
              type="file"
              class="form-control"
              id="imageUpload"
              name="file"
            />
          </div>

          <button type="submit" class="btn btn-primary" value="Upload">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>   
<script src="/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
<script src="/vendors/jquery/jquery.min.js"></script>
<script src="/vendors/popper.js/popper.min.js"></script>
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>

