<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TreatMeals</title>
    <link rel="stylesheet" href="/vendors/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header class="foi-header landing-header">
      <div class="container">
       
          <img
            src="/images/TreatMeals-Logo.png"
            alt="TreatMeals"
            style="width: 15vw"
          />

          <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-toggle="collapse"
            data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId"></div>
        </nav>
        <div class="header-content">
          <div class="row">
            <div class="col-md-6">
              <h1>Enjoy your favorite foods guilt-free!</h1>
              <p class="text-dark" style="background-color: #f7f6f6; width: 10rem">
                If it fits your macros, it's game.
              </p>
              <!-- <button class="btn btn-primary mb-4">Get Started</button> -->

              <a class="btn btn-signlog mb-4" href="/signup">Sign up</a>

              <a class="btn btn-signlog mb-4" href="/login">Login</a>
              
            </div>
            <div class="col-md-6">
              <img
                src="/images/junkfood.png"
                alt="app"
                width="388px"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="py-5 mb-5">
      <div class="container">
        <h2 class="section-title">Application Features</h2>
        <div class="row" style="margin-top: 1.5rem">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <h5>Add new restaurants</h5>
            <p class="text-dark">
              Don't see your favorite restaurants? TreatMeals is open-source, so you can always add new restaurants that you and our several users can access.
            </p>
            <p class="mb-5">
              <a href="#!" class="text-primary mb-5">Find out More</a>
            </p>
            <h5>Add new foods</h5>
            <p class="text-dark">
              Add foods that may not be listed under your chosen restaurant. After adding, this food will always be available for you and our other users.
            </p>
            <p class="mb-5">
              <a href="#!" class="text-primary mb-5">Find out More</a>
            </p>
          </div>
          <div class="col-lg-4 mb-3 mb-lg-0">
            <h5>Macros Display</h5>
            <p class="text-dark">
              Shows macros distribution after foods are selected in a gorgeous pie chart format. Understand the ratio of Protein, Fats, and Carbohydrates in your entire meal.
            </p>
            <p class="mb-5">
              <a href="#!" class="text-primary mb-5">Find out More</a>
            </p>
            <h5>Interactive Community</h5>
            <p class="text-dark">
              TreatMeals depends on its community to continue updating and adding new restarurants and foods. Additionally, feel free to comment and review listed foods, so you can let other fellow users know what to expect.
            </p>
            <p class="mb-5">
              <a href="#!" class="text-primary mb-5">Find out More</a>
            </p>
          </div>
          <div class="col-lg-4">
            <h6 class="text-gray font-os font-weight-semibold" style="text-align: center">
              Trusted by the world's best
            </h6>
            <div
              id="landingClientCarousel"
              class="carousel slide landing-client-carousel"
              data-ride="carousel"
            >
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <div class="d-flex flex-wrap justify-content-center">
                    <div class="clients-logo">
                      <img
                        src="/images/clients/slack.svg"
                        alt="Slack"
                        class="img-fluid"
                      />
                    </div>
                    <div class="clients-logo">
                      <img
                        src="/images/clients/spotify.svg"
                        alt="Spotify"
                        class="img-fluid"
                      />
                    </div>
                    <div class="clients-logo">
                      <img
                        src="/images/clients/paypal.svg"
                        alt="Paypal"
                        class="img-fluid"
                      />
                    </div>
                    <div class="clients-logo">
                      <img
                        src="/images/clients/amazon.svg"
                        alt="Amazon"
                        class="img-fluid"
                      />
                    </div>
                    <div class="clients-logo">
                      <img
                        src="/images/clients/google.svg"
                        alt="Google"
                        class="img-fluid"
                      />
                    </div>
                    <div class="clients-logo">
                      <img
                        src="/images/clients/samsung.svg"
                        alt="Samsung"
                        class="img-fluid"
                      />
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-flex flex-wrap justify-content-center">
                    <div class="clients-logo">
                      <img
                        src="/images/clients/slack.svg"
                        alt="Slack"
                        class="img-fluid"
                      />
                    </div>
                    <div class="clients-logo">
                      <img
                        src="/images/clients/spotify.svg"
                        alt="Spotify"
                        class="img-fluid"
                      />
                    </div>
                    <div class="clients-logo">
                      <img
                        src="/images/clients/paypal.svg"
                        alt="Paypal"
                        class="img-fluid"
                      />
                    </div>
                    <div class="clients-logo">
                      <img
                        src="/images/clients/amazon.svg"
                        alt="Amazon"
                        class="img-fluid"
                      />
                    </div>
                    <div class="clients-logo">
                      <img
                        src="/images/clients/google.svg"
                        alt="Google"
                        class="img-fluid"
                      />
                    </div>
                    <div class="clients-logo">
                      <img
                        src="/images/clients/samsung.svg"
                        alt="Samsung"
                        class="img-fluid"
                      />
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-flex flex-wrap justify-content-center">
                    <div class="clients-logo">
                      <img
                        src="/images/clients/slack.svg"
                        alt="Slack"
                        class="img-fluid"
                      />
                    </div>
                    <div class="clients-logo">
                      <img
                        src="/images/clients/spotify.svg"
                        alt="Spotify"
                        class="img-fluid"
                      />
                    </div>
                    <div class="clients-logo">
                      <img
                        src="/images/clients/paypal.svg"
                        alt="Paypal"
                        class="img-fluid"
                      />
                    </div>
                    <div class="clients-logo">
                      <img
                        src="/images/clients/amazon.svg"
                        alt="Amazon"
                        class="img-fluid"
                      />
                    </div>
                    <div class="clients-logo">
                      <img
                        src="/images/clients/google.svg"
                        alt="Google"
                        class="img-fluid"
                      />
                    </div>
                    <div class="clients-logo">
                      <img
                        src="/images/clients/samsung.svg"
                        alt="Samsung"
                        class="img-fluid"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <ol class="carousel-indicators">
                <li
                  data-target="#landingClientCarousel"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li data-target="#landingClientCarousel" data-slide-to="1"></li>
                <li data-target="#landingClientCarousel" data-slide-to="2"></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <img
              src="/images/phonemockup.png"
              alt="special offers"
              class="img-fluid"
              width="492px"
            />
          </div>
          <div class="col-md-6">
            <h2 class="section-title">
              Nutrition Information for your favorite restaurants at your fingertips
            </h2>
            <p class="mb-5">
              Find a variety of restaurants to select from. Choices can vary from fast food to sit-down restaurants.
              Don't see the food you're looking for? Add it, and you will automatically be able to add it to your planned meal and see your total macronutrients for the below:
            </p>
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="media landing-feature">
                  <span class="landing-feature-icon"></span>
                  <div class="media-body">
                    <h5>Protein</h5>
                    <p>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="media landing-feature">
                  <span class="landing-feature-icon"></span>
                  <div class="media-body">
                    <h5>Carbohydrates</h5>
                    <p>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="media landing-feature">
                  <span class="landing-feature-icon"></span>
                  <div class="media-body">
                    <h5>Fats</h5>
                    <p>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="py-5 mb-5">
      <div class="container">
        <h2>Satisfied Users</h2>
        <div class="row">
          <div class="col-md-4 foi-review mb-5 mb-md-0">
            <div class="foi-rating">
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
            </div>
            <h5 class="foi-review-heading">Great support available</h5>
            <p class="foi-review-content">
              Thank you for your very professional and prompt customer service. I wished
              I had found you before I spent money on a competitors app.
            </p>
            <div class="media foi-review-user">
              <img
                src="/images/avatar/avatar_11.jpg"
                alt="user"
                class="avatar"
              />
              <div class="media-body">
                <h6 class="mb-0">Amarachi Nkechi</h6>
                <p>Fitness Instructor</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 foi-review mb-5 mb-md-0">
            <div class="foi-rating">
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
            </div>
            <h5 class="foi-review-heading">Great Community!</h5>
            <p class="foi-review-content">
              I greatly appreciate reading all the comments and reviews on foods from restaurants. It helps someone as indecisive as me narrow down choices.
            </p>
            <div class="media foi-review-user">
              <img
                src="/images/avatar/avatar_12.jpg"
                alt="user"
                class="avatar"
              />
              <div class="media-body">
                <h6 class="mb-0">Margje Jutten</h6>
                <p>Bodybuilder</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 foi-review mb-5 mb-md-0">
            <div class="foi-rating">
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
            </div>
            <h5 class="foi-review-heading">Very modular</h5>
            <p class="foi-review-content">
              I love how modular this app is. If you cannot find a food or restaurant choice availability, you simply have to add it and you will have access to add it into your meal calculations. This has made my cheat meals much easier to manage.
            </p>
            <div class="media foi-review-user">
              <img
                src="/images/avatar/avatar_13.jpg"
                alt="user"
                class="avatar"
              />
              <div class="media-body">
                <h6 class="mb-0">Monica Böttger</h6>
                <p>CrossFit Coach</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5 mb-5">
      <div class="container">
        <h2>FAQ</h2>
        <p class="section-subtitle">Frequently Asked Questions</p>
        <div class="row">
          <div class="col-lg-6">
            <div class="card mb-3 landing-faq-card">
              <div class="card-header bg-white" id="faqOneTitle">
                <a
                  href="#faqOneCollapse"
                  class="d-flex align-items-center"
                  data-toggle="collapse"
                >
                  <h6 class="mb-0">What is TreatMeals app?</h6>
                  <i class="far fa-plus-square ml-auto"></i>
                </a>
              </div>
              <div
                id="faqOneCollapse"
                class="collapse"
                aria-labelledby="faqOneTitle"
              >
                <div class="card-body">
                  <p class="mb-0 text-gray">
                    TreatMeals is an application that will allow you access to a database of nutrition info for several restaurants.
                  </p>
                </div>
              </div>
            </div>
            <div class="card mb-3 landing-faq-card">
              <div class="card-header bg-white" id="faqTwoTitle">
                <a
                  href="#faqTwoCollapse"
                  class="d-flex align-items-center"
                  data-toggle="collapse"
                >
                  <h6 class="mb-0">Why should I use the TreatMeals app?</h6>
                  <i class="far fa-plus-square ml-auto"></i>
                </a>
              </div>
              <div
                id="faqTwoCollapse"
                class="collapse"
                aria-labelledby="faqTwoTitle"
              >
                <div class="card-body">
                  <p class="mb-0 text-gray">
                    Do you have particular macronutrient or fitness goals? Don't go into your fun meals blindly! Planning ahead of time will allow you to still enjoy your favorite foods while being mindful of your goals.
                  </p>
                </div>
              </div>
            </div>
            <div class="card mb-3 landing-faq-card">
              <div class="card-header bg-white" id="faqThreeTitle">
                <a
                  href="#faqThreeCollapse"
                  class="d-flex align-items-center"
                  data-toggle="collapse"
                >
                  <h6 class="mb-0">How can I use the TreatMeals app?</h6>
                  <i class="far fa-plus-square ml-auto"></i>
                </a>
              </div>
              <div
                id="faqThreeCollapse"
                class="collapse"
                aria-labelledby="faqThreeTitle"
              >
                <div class="card-body">
                  <p class="mb-0 text-gray">
                    Simply visit the TreatMeals website.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card mb-3 landing-faq-card">
              <div class="card-header bg-white" id="faqFourTitle">
                <a
                  href="#faqFourCollapse"
                  class="d-flex align-items-center"
                  data-toggle="collapse"
                >
                  <h6 class="mb-0">Who will see my added foods and restaurants?</h6>
                  <i class="far fa-plus-square ml-auto"></i>
                </a>
              </div>
              <div
                id="faqFourCollapse"
                class="collapse"
                aria-labelledby="faqFourTitle"
              >
                <div class="card-body">
                  <p class="mb-0 text-gray">
                    Any and all foods and restaurants you upload will be visible and accessible to all other TreatMeals users. The database is truly community-driven.
                  </p>
                </div>
              </div>
            </div>
            <div class="card mb-3 landing-faq-card">
              <div class="card-header bg-white" id="faqFiveTitle">
                <a
                  href="#faqFiveCollapse"
                  class="d-flex align-items-center"
                  data-toggle="collapse"
                >
                  <h6 class="mb-0">Can I bookmark favorite foods?</h6>
                  <i class="far fa-plus-square ml-auto"></i>
                </a>
              </div>
              <div
                id="faqFiveCollapse"
                class="collapse"
                aria-labelledby="faqFiveTitle"
              >
                <div class="card-body">
                  <p class="mb-0 text-gray">
                    Absolutely. You can favorite foods that you particularly enjoyed and they will remain in a personal list for you to access quickly for your next meal.
                  </p>
                </div>
              </div>
            </div>
            <div class="card mb-3 landing-faq-card">
              <div class="card-header bg-white" id="faqSixTitle">
                <a
                  href="#faqSixCollapse"
                  class="d-flex align-items-center"
                  data-toggle="collapse"
                >
                  <h6 class="mb-0">Being a user, what all rights do I have?</h6>
                  <i class="far fa-plus-square ml-auto"></i>
                </a>
              </div>
              <div
                id="faqSixCollapse"
                class="collapse"
                aria-labelledby="faqSixTitle"
              >
                <div class="card-body">
                  <p class="mb-0 text-gray">
                    We will never share or sell your personal information. 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="foi-footer text-white">
      <div class="container">
        <div class="row footer-content">
          <div class="col-xl-6 col-lg-7 col-md-8">
            <h2 class="mb-0">
              Do you want to know more or just have a question? write to us.
            </h2>
          </div>
          <div
            class="col-md-4 col-lg-5 col-xl-6 py-3 py-md-0 d-md-flex align-items-center justify-content-end"
          >
            <a href="" class="btn btn-danger btn-lg"
              >Contact form</a
            >
          </div>
        </div>
        <div class="row footer-widget-area">
          <div class="col-md-3">
            <div class="py-3">
              
            </div>
            
            <div>
              
            </div>
          </div>
          <div class="col-md-3 mt-3 mt-md-0">
            <nav>
              
            </nav>
          </div>
          <div class="col-md-3 mt-3 mt-md-0">
            <nav>
              
            </nav>
          </div>
          <div class="col-md-3 mt-3 mt-md-0">
            <p>
              &copy; TreatMeals. 2022
              
            </p>
            <p>All rights reserved.</p>
            <nav class="social-menu">
              <a href="#!"><img src="/images/facebook.svg" alt="facebook" /></a>
              <a href="#!"
                ><img src="/images/instagram.svg" alt="instagram"
              /></a>
              <a href="#!"><img src="/images/twitter.svg" alt="twitter" /></a>
              <a href="#!"><img src="/images/youtube.svg" alt="youtube" /></a>
            </nav>
          </div>
        </div>
      </div>
    </footer>
    <script src="/vendors/jquery/jquery.min.js"></script>
    <script src="/vendors/popper.js/popper.min.js"></script>
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
